# Streaming Management and Time Series Analysis Project

### 0. Dataset Exploration

In [33]:
import pandas as pd
import numpy as np
from datetime import datetime

In [195]:
energy_data = pd.read_csv('C:/Users/andre/Desktop/DATA SCIENCE/STREAMING DATA MANAGEMENT AND TIME SERIES ANALYSIS/energydata_complete.csv')
energy_data.describe()
energy_data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [196]:
energy_data_interest = energy_data[['date','Appliances','lights']]
energy_data_interest.head()

                  date  Appliances  lights
0  2016-01-11 17:00:00          60      30
1  2016-01-11 17:10:00          60      30
2  2016-01-11 17:20:00          50      30
3  2016-01-11 17:30:00          50      40
4  2016-01-11 17:40:00          60      40

We have to aggregate per hour:

In [197]:
a = pd.to_datetime(energy_data_interest['date'])
h= a.apply(lambda x: x.hour)
m= a.apply(lambda x: x.minute)
day = a.apply(lambda x: x.day)
month = a.apply(lambda x: x.month)
year = a.apply(lambda x: x.year)
energy_data_interest_df= pd.DataFrame(energy_data_interest)
energy_data_interest_df['hour']=h
energy_data_interest_df['day']=day
energy_data_interest_df['month']=month
energy_data_interest_df['year']=year
energy_data_interest_df.head()

                  date  Appliances  lights  hour  day  month  year
0  2016-01-11 17:00:00          60      30    17   11      1  2016
1  2016-01-11 17:10:00          60      30    17   11      1  2016
2  2016-01-11 17:20:00          50      30    17   11      1  2016
3  2016-01-11 17:30:00          50      40    17   11      1  2016
4  2016-01-11 17:40:00          60      40    17   11      1  2016

In [201]:
energy_data_interest_df.groupby(['year','month','day','hour']).mean().head().round(2)

                     Appliances  lights
year month day hour
2016 1     11  17         55.00   35.00
               18        176.67   51.67
               19        173.33   25.00
               20        125.00   35.00
               21        103.33   23.33